.GridHeader {
  height: 3em;
  width: calc(100% - 2em);
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.9);
}

.GridHeader-section-list {
  display: flex;
}

.GridHeader-section-item {
  padding: 0 1em;
  line-height: 3em;
  border: 0;
  outline: 0;
  background: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.GridHeader-section-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.GridHeader-section-item-selected {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-weight: bold;
}

.GridHeader-dropdown-button {
  display: flex;
  background: none;
  color: #fff;
  border: none;
  outline: none;
  line-height: 3em;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

.GridHeader-dropdown-label {
  color: #fff;
  margin-left: 0.6em;
}

.GridHeader-dropdown-icon {
  margin-left: 0.3em;
}
