.TrackListItem {
  display: flex;
  list-style-type: none;
  color: #fff;
  padding: 0 1em;
  box-sizing: border-box;
  line-height: 3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.TrackListItem-index {
  width: 30px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
}

.TrackListItem-fulltitle {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1em;
}

.TrackListItem-title {
}

.TrackListItem-artist {
  padding-left: 0.5em;
  color: rgba(255, 255, 255, 0.5);
}

.TrackListItem-duration {
  width: 40px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

.TrackListItem-rating {
  width: 40px;
}

