.AlbumPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.AlbumPanelHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  position: relative;
}

.AlbumPanelHeader-image {
  width: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-right: 1em;
}

.AlbumPanelHeader-text {
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 0.5em;
  z-index: 1;
}

.AlbumPanelHeader-title {
  color: #fff;
}

.AlbumPanelHeader-artist {
  color: rgba(255, 255, 255, 0.5);
}

.AlbumPanelHeader-year {
  color: rgba(255, 255, 255, 0.5);
}

.AlbumPanelTracks {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.AlbumPanelTracks-list {
  flex: 1;
  margin: 0;
  padding: 0;
}

.AlbumPanelTracks-track {
  display: flex;
  list-style-type: none;
  color: #fff;
  padding: 0 1em;
  line-height: 3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.AlbumPanelTracks-index {
  width: 30px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
}

.AlbumPanelTracks-title {
  flex: 1;
}

.AlbumPanelTracks-duration {
  width: 40px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

.AlbumPanelTracks-rating {
  width: 40px;
}

.AlbumPanelTracks-info {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  line-height: 3em;
  margin: 0;
}
